<!-- Header Area -->
<div class="header-div">
    <div class="d-flex justify-content-between align-items-center
        upload-listname upload-container">

        <!-- Horizontal Tabs -->
        <div class="d-flex justify-content-start upload-tabs">
            <div *ngFor="let tab of horizontalTabs; let i= index" class="px-2" (click)="switchTab(tab.tab)">
                <a class="upload-listname_active" [ngClass]="{active:tab.active}">
                    {{ tab.tab }}
                </a>
            </div>
        </div>

        <!-- Filters -->
        <div>
            <div class="d-flex">
                <!-- Date Range -->
                <div class="ml-1 date-range date-range-width" title="Select Range Based Filter">
                    <div class="input-group input-cal flex-column">
                        <div class="input-group custom-date">
                            <input type="text" [(ngModel)]="rangetime" class="form-control
                                date-picker filter_input ft-12 highligted-cal" (click)="toggleDp()" disabled />
                            <ngb-datepicker *ngIf="toggleCal" #dp [maxDate]="maxDate" [markDisabled]="isDisabled"
                                (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                outsideDays="hidden">
                            </ngb-datepicker>
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date)
                                    || isInside(date)" (mouseenter)="hoveredDate= date"
                                    (mouseleave)="hoveredDate= null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                            <div class="input-group-append input-cal__position">
                                <button class="btn btn-zindex outline
                                    box-shadow-0" (click)="toggleDp()">
                                    <img src="../../../../../assets/images/calendar.svg" alt="Calendar" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ML Ids -->
                <ng-multiselect-dropdown title="Select available ML IDs" class="custom_dropdown custom-button"
                    [placeholder]="'Select Format'" [settings]="dropdownSettings_Format" [data]="dropdownListOfFormat"
                    [(ngModel)]="selectedItemsInFormat" (onSelect)="onItemSelectInFormat($event)"
                    (onDeSelect)="onItemDeSelectFormat($event)" (onSelectAll)="onSelectAllInFormat($event)"
                    (onDeSelectAll)="onDeSelectAllFormat($event)">
                </ng-multiselect-dropdown>

                <!-- Corrections -->
                <ng-multiselect-dropdown title="Select available Corrections" class="custom_dropdown custom-button"
                    [placeholder]="'Select Corrections'" [settings]="dropdownSettings_Corrections"
                    [data]="dropdownListOfCorrections" [(ngModel)]="selectedItemsInCorrections"
                    (onSelect)="onItemSelectInCorrections($event)" (onDeSelect)="onItemDeSelectCorrections($event)"
                    (onSelectAll)="onSelectAllInCorrections($event)" (onDeSelectAll)="onDeSelectAllCorrections($event)">
                </ng-multiselect-dropdown>

                <div class="pointer d-flex align-items-center custom-button
                    padding-custom" (click)="resetFilter()">
                    <span class="pr-1 pl-1">
                        <span class="ft-12" title="This action will reset MLIDs & Corrections Filters">
                            Reset Filters
                        </span>
                    </span>
                    <img src="../../../assets/images/filter_reset.png" width="24" height="24" alt="Filter" />
                </div>

                <!-- Refresh Format Button renamed to ML ID on 30-09-2022 -->
                <div class="pointer d-flex align-items-center custom-button
                    padding-custom" (click)="getUpdatedFormats()">
                    <span class="pr-1 pl-1">
                        <span class="ft-12"
                            title="This action will get Updated ML IDs which are showing UNKNOWN now">Refresh ML
                            IDs</span>
                    </span>
                    <img src="../../../assets/images/refreshing.png" width="12" height="12" alt="Filter" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Area -->
<div class="content-area">
    <div class="d-flex align-items-end justify-content-between ft-500 p-2 ft-12
        text-center font-weight-normal pr-4 pl-0">
        <div class="ft-14 font-weight-bold">
            {{ selectedFilters ? statusTextMapping[selectedFilters] : "Manual
            Corrections" }}
        </div>

        <div *ngIf="documents && documents.length">
            Showing {{ documents.length }} of {{ documents.length }}
        </div>
    </div>

    <div [class]="(documents && documents.length>0) ? 'scrolling-list' : ''">
        <table class="table table-white manually-doc-list
            table-white-responsive" *ngIf="documents && documents.length && selectedTab!=='Approved' &&
            isDocsFetched">
            <thead>
                <tr>
                    <th scope="col" class="ft-12">
                        <div class="custom-check-box list-view-checkbox"
                            *ngIf="selectedFilters == 'READY_FOR_EXTRACTION'">
                            <label class="container">
                                <input type="checkbox" [(ngModel)]="selectAll" (ngModelChange)="toggleSelect()" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </th>
                    <th scope="col" class="ft-12 word-wrap">File Name</th>
                    <th scope="col" class="ft-12 word-wrap">Submitted Date</th>
                    <th scope="col" class="ft-12 word-wrap">Last Updated</th>
                    <!-- <th scope="col" class="ft-12 word-wrap">Confidence</th> -->
                    <th scope="col" class="ft-12 word-wrap">ML ID</th>
                    <th scope="col" class="ft-12 word-wrap">Corrections </th>
                    <th scope="col" class="ft-12 word-wrap" *ngIf="!multipleSelect">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr [ngStyle]="{backgroundColor: getColor(headerItem?.vendorId)}"
                class="table-hover-data" *ngFor="let headerItem of documents |
                paginate : {
                itemsPerPage: itemsPerPage,
                currentPage: pageNumber,
                totalItems: itemsCount
                }; let i= index"> -->
                <tr [ngStyle]="{backgroundColor:
                    getColor(headerItem?.vendorId)}" class="table-hover-data" *ngFor="let headerItem of
                    documents;
                    let
                    i= index">

                    <!-- select checkbox -->
                    <td>
                        <div class="custom-check-box" *ngIf="selectedFilters ==
                            'READY_FOR_EXTRACTION'">
                            <label class="container">
                                <input type="checkbox" [(ngModel)]="headerItem.selected"
                                    (ngModelChange)="toggleSelectSingle(i)" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        &nbsp;
                    </td>

                    <!-- fileName -->
                    <td style="width: 200px;" class="ft-12">
                        <span *ngIf="headerItem?.fileName; else showNA">
                            {{headerItem?.fileName}}
                        </span>
                    </td>

                    <!-- submittedOn -->
                    <td class="ft-12" style="white-space: nowrap;">
                        <span *ngIf="headerItem?.submittedOn; else showNA">
                            {{epochToMili(headerItem.submittedOn)}}
                        </span>
                    </td>

                    <!-- lastUpdatedOn -->
                    <td class="ft-12" style="white-space: nowrap;">
                        <span *ngIf="headerItem?.lastUpdatedOn; else showNA">
                            {{ epochToMili(headerItem.lastUpdatedOn) }}
                        </span>
                    </td>

                    <!-- confidence -->
                    <!-- <td class="ft-12">
                  <span *ngIf="headerItem?.overall_score >= 0; else showNA">{{
                      headerItem?.overall_score | decimalPretty}}%</span>
                </td> -->
                    <!-- Format/ML ID -->
                    <td class="ft-12">
                        <div class="d-inline">
                            <span *ngIf="headerItem?.vendorId; else showNA">{{
                                headerItem?.vendorId}}</span>
                        </div>
                    </td>

                    <!-- Corrections -->
                    <td style="width: 450px;" class="ft-12">
                        <div class="d-inline">
                            <span *ngIf="headerItem?.correctedValues; else
                                showNA">{{
                                headerItem?.correctedValues}}</span>
                        </div>
                    </td>

                    <!-- forwardIcon button  -->
                    <td style="vertical-align: text-top !important;" class="ft-12
                        justify-content-between" *ngIf="!multipleSelect">
                        <button [disabled]="disableAction" [ngClass]="!disableAction ? 'btn mr-1'
                            :'notAllowed'" style="width: 42px" (click)="identifyFormat(headerItem.documentId)">
                            <img [src]="imgSrc.forwardIcon" width="22" height="auto" title={{actionTooltip}} />
                        </button>

                        <!-- info icon -->
                        <button class="btn mr-1 info" title="{{
                            headerItem.documentId
                            }}">
                            <img [src]="imgSrc.infoIcon" class="cursor-pointer" width="16" height="16" title="Info"
                                (click)="dataService.copyToClipboard(headerItem.documentId)" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex align-items-end justify-content-start ft-500 p-2 ft-12
        text-center font-weight-normal" *ngIf="documents && documents.length">
        Showing {{ documents.length }} of {{ documents.length }}
    </div>

    <div class="p-5" *ngIf="!(documents && documents.length) && isDocsFetched">
        <h5 class="text-center">No Documents to Show</h5>
    </div>

    <div *ngIf="!isDocsFetched" class="center_div list_spinner">
        <small>Fetching Documents. Please wait..</small>
    </div>
</div>

<ng-template #showNA>
    <span class="font-weight-bold">-NA-</span>
</ng-template>