@import "../../../assets/styles/scss/common.scss";
@import "../../../assets/styles/scss/variable.scss";




.summary-items {
  display: grid;
  column-gap: 20px;

  div {
    margin: 10px;

    .num {
      font-size: 20px;
      font-weight: 500;
    }

    .title {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: #666;
    }

    .chart {
      display: block;
    }
  }
}


