<div class="page_bg">
    <div class="container p-3">
        <div class="col-12">
            <div class="card border-none p-5 m-0">
                <div class="card-header font-weight-bold">
                    Reset your password
                </div>
                <div class="card-body">
                    <form class="w-100 d-flex" [formGroup]="resetform"
                        (ngSubmit)="onSubmit()">

                        <!-- main-form -->
                        <div class="col-6">
                            <!-- New Password -->
                            <div class="form-group">
                                <label class="ft-14 fw-500 text-capitalize">New
                                    Password*</label>
                                <!-- <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" formControlName="password" placeholder="password" required /> -->
                                <div class="input-group">
                                    <input [type]="fieldTextType ? 'text' :
                                        'password'"
                                        class="form-control"
                                        [(ngModel)]="password"
                                        formControlName="password"
                                        placeholder="password" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i
                                                class="fa"
                                                [ngClass]="{
                                                'fa-eye-slash':
                                                !fieldTextType,
                                                'fa-eye': fieldTextType
                                                }"
                                                (click)="toggleFieldTextType()"></i>
                                        </span>
                                    </div>
                                </div>

                                <div
                                    *ngIf="(resetform.get('password').touched
                                    ||
                                    submitted)">
                                    <span class="text-danger"
                                        *ngIf="resetform.get('password').errors?.required">
                                        Password is required
                                    </span> <span class="text-danger"
                                        *ngIf="resetform.get('password').errors?.invalidPassword">
                                        Password must be in range of 8-30
                                        characters
                                    </span>
                                </div>
                            </div>

                            <!-- Confirm New Password -->
                            <div class="form-group">
                                <label class="ft-14 fw-500 text-capitalize">Confirm
                                    Password*</label>
                                <!-- <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="cnfpassword" id="cnfpassword" formControlName="cnfpassword" placeholder="confirm password" required /> -->
                                <div class="input-group">
                                    <input [type]="cnfFieldTextType ? 'text'
                                        :
                                        'password'" class="form-control"
                                        [(ngModel)]="confirmPassword"
                                        formControlName="cnfpassword"
                                        placeholder="confirm Password" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i
                                                class="fa"
                                                [ngClass]="{
                                                'fa-eye-slash':
                                                !cnfFieldTextType,
                                                'fa-eye': cnfFieldTextType
                                                }"
                                                (click)="toggleCnfFieldTextType()"></i>
                                        </span>
                                    </div>
                                </div>

                                <div
                                    *ngIf="(resetform.get('cnfpassword').touched
                                    ||
                                    submitted)">
                                    <span class="text-danger"
                                        *ngIf="resetform.get('cnfpassword').errors?.required">
                                        Confirm Password is required
                                    </span>
                                    <!-- <span class="text-danger" *ngIf="resetform.get('cnfpassword').errors?.invalidPassword">
                                Confirm Password must be in range of 8-30 characters
                            </span> -->
                                </div>
                                <div *ngIf="password && confirmPassword"
                                    [ngClass]="{
                                    'text-success': password ===
                                    confirmPassword,
                                    'text-danger': password !==
                                    confirmPassword
                                    }"> {{password ===
                                    confirmPassword?"":"New
                                    Password
                                    & Confirm Password doesn't match"}}
                                </div>
                            </div>

                            <!-- Change my password button -->
                            <div class="form-group pt-3">
                                <button [disabled]="resetform.invalid"
                                    type="submit"
                                    class="btn btn-sign w-100
                                    ft-14
                                    reset_btn">Reset my password</button>
                            </div>

                            <hr>
                        </div>

                        <div class="col-1"></div>

                        <!-- Instructions div -->
                        <div class="col-5">
                            <div class="card">
                                <div class="card-header font-weight-bold
                                    bg-white">
                                    Your Password must have at least :
                                </div>
                                <div class="card-body validation_modal">
                                    <label class="col"
                                        [ngClass]="resetform.controls['password'].hasError('required')
                                        ||
                                        resetform.controls['password'].hasError('minlength')
                                        ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">{{
                                            resetform.controls['password'].hasError('required')
                                            ||
                                            resetform.controls['password'].hasError('minlength')
                                            ? 'cancel' :
                                            'check_circle' }}</i>
                                        8 characters!
                                    </label>
                                    <label class="col"
                                        [ngClass]="resetform.controls['password'].hasError('required')
                                        ||
                                        resetform.controls['password'].hasError('hasNumber')
                                        ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">{{
                                            resetform.controls['password'].hasError('required')
                                            ||
                                            resetform.controls['password'].hasError('hasNumber')
                                            ? 'cancel' :
                                            'check_circle' }}</i>
                                        1 number!
                                    </label>
                                    <label class="col"
                                        [ngClass]="resetform.controls['password'].hasError('required')
                                        ||
                                        resetform.controls['password'].hasError('hasCapitalCase')
                                        ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">{{
                                            resetform.controls['password'].hasError('required')
                                            ||
                                            resetform.controls['password'].hasError('hasCapitalCase')
                                            ? 'cancel' :
                                            'check_circle' }}</i>
                                        1 Letter in Capital Case!
                                    </label>
                                    <label class="col"
                                        [ngClass]="resetform.controls['password'].hasError('required')
                                        ||
                                        resetform.controls['password'].hasError('hasSmallCase')
                                        ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">{{
                                            resetform.controls['password'].hasError('required')
                                            ||
                                            resetform.controls['password'].hasError('hasSmallCase')
                                            ? 'cancel' :
                                            'check_circle' }}</i>
                                        1 Letter in Small Case!
                                    </label>
                                    <label class="col"
                                        [ngClass]="resetform.controls['password'].hasError('required')
                                        ||
                                        resetform.controls['password'].hasError('hasSpecialCharacters')
                                        ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">{{
                                            resetform.controls['password'].hasError('required')
                                            ||
                                            resetform.controls['password'].hasError('hasSpecialCharacters')
                                            ? 'cancel' :
                                            'check_circle' }}</i>
                                        1 Special Character
                                        Character!
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>