@import "../../../../../assets/styles/scss/variable.scss";
@import "../../../../../assets/styles/scss/common.scss";
.table-hover-data:hover {
    background-color: #fc92201a;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.flex-container > div {
    margin: 10px 0px;
}

.btn-delete {
    border: 1px solid #e66824;
    color: #e66824;
    background: #fff;
    &:hover,
    &:focus {
        color: #e66824;
        box-shadow: 0px 0px 4px #e66824;
    }
}

.btn-save {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    &:focus,
    &:hover {
        box-shadow: 0px 0px 4px #1e7e34;
        outline: 0;
        color: #fff;
    }
}

.vendor-list {
    height: calc(100vh - 180px);
    overflow: scroll;
}

.word-wrap {
    white-space: nowrap;
}

.manually-doc-list td,
.table td {
    padding: 5px 10px !important;
}

.manually-doc-list,
.table td,
.table th {
    vertical-align: middle !important;
}

table.manually-doc-list th {
    position: sticky;
    top: -1px;
    z-index: 9 !important;
    background: #fff8f8 !important;
}
