<div class="page_bg">
    <div class="thank-you d-flex justify-content-center align-items-center">
        <div class="card border-none p-5 m-0">
            <div style="margin:auto;">
                <h4 class="customFont"> Thank you for registering for the free trial version of TAO {{projName}}<sup class="sup ft-12">TM</sup> !</h4>
                <i class="fas fa-check-circle fa-7x check"></i>
                <hr>
                <!-- <p><strong>Your account has been created and a verification email has been sent </p>
                <p>to your registered email address. Please click on the verification link </p>
                <p>included in the email to activate your account. </p> -->
                <p class="customFont"><strong>We have sent a verification mail to your registered email</strong></p>
                <p class="customFont"><strong>Please check your inbox to activate your account.</strong></p>
                <!-- <p>In the meantime, you can read more about the product <a href='https://www.taoautomation.com/what-we-do/productized-solutions/tao-paiges/'>here</a>.</p> -->
                <p class="customFont">Feel free to send us an email at <strong><a href={{ADMIN_EMAIL}}>{{ADMIN_EMAILID}}</a></strong> if you have any questions.</p>
                <!-- <span>
                  <button type="button" class="btn tt-header-btn m-0 custom_link" routerLink="/login" routerLinkActive="active">
                    Return to SignIn
                  </button>
               </span> -->

                <div style="margin-top: 0px!important;" class="forgot_password">
                    <span style="text-align: center!important;">
                    <button type="button" routerLink="/login" routerLinkActive="active" class="btn tt-header-btn m-0 customFont">
                        Go back to Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </button>
                </span>
                </div>

            </div>
        </div>
    </div>
</div>