.signup__logo {
    margin-bottom: 25px;

    img {
        width: 240px;
    }
}

.header_text {
    padding-top: 3%;
}

.sub_header_text {
    font-size: 16px;
}

.logo-style-swiggy {
    margin-left: -20px;
    padding-top: 25%;
    max-width: 100%
}

.logo-style-bcp {
    margin-left: 20%;
    padding-top: 20%;
    max-width: 50%;
}