.custom-input-invoice-form-corrected {
    border: orange solid 1px;
}

.custom-input-invoice-form-error {
    border: red solid 1px;
}

.custom-input-invoice-form {
    width: 100%;
    line-height: 2;
    height: 36px;
    font-size: 16px !important;
    border: #ccc solid 1px;
    border-radius: 0px;
    outline: none !important;
}

.input-confidence {
    color: rgb(124, 231, 124);
}

.field-style {
    height: 30px;
    font-size: small;
}

.headerStyle {
    font-weight: 600px;
}

.form_headings1 {
    font-size: small;
}

.form_headings {
    margin-top: 15px;
    font-size: small;
}
