 <div class="card  dashboard-card">
   <div class="card-body  m-2">
     <div class="d-flex justify-content-end">
       <select class="ft-12">
         <option selected value="">select</option>
         <option value="1">7 days</option>
         <option value="2">15 days</option>
         <option value="3">4 weeks</option>
         <option value="4">3 months</option>
         <option value="5">Current year</option>
       </select>
     </div>
     <div class="d-flex">
       canvas
     </div>
   </div>
 </div>