.title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.colSpan2 {
    min-height: 400px !important;
    max-height: 450px !important;
    cursor: pointer;
}

.colSpan1 {
    min-height: 310px !important;
    max-height: 350px !important;
    cursor: pointer;
}