<!-- modal header  -->
<div class="d-flex w-100 justify-content-between modal-header p-3">
  <h6 class="modal-title ft-600 title_color" style="margin-top:10px !important"
    *ngIf="!toChangePassword">{{ mode}} User
  </h6>
  <h6 class="modal-title ft-600 title_color" style="margin-top:10px !important"
    *ngIf="toChangePassword">Change
    Password for {{userData?.userName}}
  </h6>
  <button type="button" class="btn close-button" (click)="dismissModal()">
    <img alt="" height="14" width="14"
      src="../../../assets/images/cross-sign.png" />
  </button>
</div>

<!--Modal Body with Form Fields and Password Instructions-->
<div class="d-flex modal-body modal_body_custom col-12 remove_padding">
  <!-- Form Fields -->
  <div [class]="mode == 'Add' ? 'col-6' : 'col-12 remove_padding'">
    <form class="w-100" #userForm="ngForm">
      <div *ngIf="!toChangePassword; else changePasswordForm">
        <div class="form-group col-12" *ngFor="let field of fields; let i=index"
          [hidden]="mode == 'Edit' && field.data === 'password'"
          ng-repeat="field in fields track by $index">

          <!-- Common Labels -->
          <label for="{{ field?.data }}" *ngIf="(field?.data !== 'domain') &&
            (field?.data !== 'docTypes')"
            class="fw-500 ft-12">
            {{field?.label}}
          </label>

          <!-- Common Inputs -->
          <input type="{{ field?.type }}"
            class="form-control col-12" id="{{
            field?.data }}" *ngIf="field?.input && (field?.data !== 'domain') &&
            field.data !== 'password' && (field?.data !== 'docTypes') else
            Domain"
            [(ngModel)]="userData[field?.data]" name="{{ field?.data }}"
            [disabled]="(mode == 'Edit' && (field.data === 'password'||
            field.data === 'emailId')) ||
            (field.data !== 'password' && field?.disabled)"
            [required]="field?.required" [pattern]="field?.pattern" />

          <!-- Password Field -->
          <div *ngIf="field.data === 'password'" class="input-group">
            <input [type]="fieldTextType ? 'text' :
              'password'" class="form-control col-12" id="{{
              field?.data }}" *ngIf="field?.input && (field?.data !== 'domain')
              && (field?.data !== 'docTypes')
              else
              Domain" [(ngModel)]="userData[field?.data]" name="{{ field?.data
              }}"
              [disabled]="(mode == 'Edit' && field.data === 'password') ||
              (field.data !== 'password' && field?.disabled)"
              [required]="field?.required" [pattern]="field?.pattern" />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                  class="fa"
                  [ngClass]="{
                  'fa-eye-slash':
                  !fieldTextType,
                  'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"></i>
              </span>
            </div>
          </div>

          <!-- same domain error div -->
          <div class="form-group" *ngIf="(field?.data=='emailId') &&
            !isvaliddomain">
            <label class="mandatoryError text-danger">
              Email should be from same domain</label>
          </div>

          <!-- Invalid password error div -->
          <div class="form-group" *ngIf="(field?.data=='password') &&
            !isvalidPassword">
            <label class="mandatoryError text-danger">
              Password must meet the instructions
            </label>
          </div>

          <!-- Domain and docTypes template -->
          <ng-template #Domain>
            <!-- Domain -->
            <div *ngIf="field?.data === 'domain'">
              <label for="{{ field?.data }}" *ngIf="field?.input && !isAdmin()"
                class="fw-500 ft-12">
                {{field?.label}}
              </label>
              <input type="{{ field?.type }}" class="form-control col-12" id="{{
                field?.data }}" *ngIf="field?.input && !isAdmin()"
                [(ngModel)]="userData[field?.data]"
                name="{{ field?.data }}"
                [disabled]="(mode == 'Edit' && field.data === 'password') ||
                (field.data !== 'password' && field?.disabled)"
                [required]="field?.required" [pattern]="field?.pattern" />
            </div>

            <!-- docTypes -->
            <div *ngIf="docTypeVisibility=='1' && shouldDoctypeFieldShow() &&
              field?.data === 'docTypes'">
              <label for="{{ field?.data }}" *ngIf="field?.input"
                class="fw-500 ft-12">
                {{field?.label}}
              </label>
              <app-multi-select-dropdown
                [documentTypesList]="documentTypesList"
                [mode]="mode"
                (shareCheckedList)="shareCheckedList($event)"
                (shareIndividualCheckedList)="shareIndividualCheckedList($event)">
              </app-multi-select-dropdown>
            </div>
          </ng-template>

          <!-- Common textarea -->
          <textarea class="form-control col-12" id="{{ field?.data }}" rows="{{
            field?.rows }}" *ngIf="field?.textarea" name="{{ field?.data }}"
            [(ngModel)]="userData[field?.data]" [disabled]="field?.disabled"
            [required]="field?.required">
          </textarea>

          <!-- Common dropdown -->
          <select class="form-control col-12" id="{{ field?.data }}"
            *ngIf="field?.select" name="{{ field?.data }}"
            [(ngModel)]="userData[field?.data]" [disabled]="field?.disabled"
            [required]="field?.required" (change)="changeHandler($event)">
            <option *ngFor="let option of field?.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <!-- Space between Form Fields and  Password Instructions-->
  <div *ngIf="mode == 'Add'" [class]="mode == 'Add' ? 'col-1' : ''"></div>

  <!-- Password Instructions -->
  <div *ngIf="mode == 'Add' && !toChangePassword" class="col-5 mt-4">
    <div class="card">
      <div class="card-header font-weight-bold
        bg-white">
        Your Password must have :
      </div>
      <div class="card-body validation_modal">
        <label class="col text-danger">
          Must be at least 8 characters!
        </label>
        <label class="col text-danger">
          Must contain at least 1 number!
        </label>
        <label class="col text-danger">
          Must contain at least 1 in Capital Case!
        </label>
        <label class="col text-danger">
          Must contain at least 1 Letter in Small Case!
        </label>
        <label class="col text-danger">
          Must contain at least 1 Special Character!
        </label>
      </div>
    </div>
  </div>
</div>

<!-- modal Footer  -->
<div class="d-flex justify-content-end modal-footer">

  <!-- Change Password Button-->
  <button class="btn btn-success"
    (click)="changePassword()"
    *ngIf="mode =='Edit' && !toChangePassword">
    Change Password
  </button>

  <!-- Save Button -->
  <button class="btn btn-save ft-14 mr-1 pl-4 pr-4"
    (click)="saveForm(userForm.valid)"
    *ngIf="!toChangePassword">
    Save
  </button>

  <!-- Cancel Button -->
  <button class="btn add-list ft-14 ml-1 pl-4 pr-4"
    (click)="mode == 'Edit' && toChangePassword ? cancelPasswordChange() :
    dismissModal()">
    Cancel
  </button>
</div>

<!-- change-password template -->
<ng-template #changePasswordForm>
  <div class="container remove_padding">
    <div class="col-12 remove_padding">
      <div class="card validation_modal_card">
        <div class="card card-body validation_modal_card">
          <form [formGroup]="frmSignup" class="d-flex"
            (submit)="submit()">
            <!-- main-form -->
            <div class="col-6">
              <!-- New Password -->
              <div class="form-group">
                <label for="newPassword"
                  [ngClass]="frmSignup.controls['newPassword'].dirty &&
                  frmSignup.controls['newPassword'].invalid
                  ?
                  'text-danger' : ''">New Password:</label>
                <div class="input-group">
                  <input [type]="newPasswordField ? 'text' :
                    'password'" class="form-control"
                    [ngClass]="frmSignup.controls['newPassword'].dirty &&
                    frmSignup.controls['newPassword'].invalid
                    ? 'is-invalid': ''"
                    formControlName="newPassword"
                    placeholder="new password" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i
                        class="fa"
                        [ngClass]="{
                        'fa-eye-slash':
                        !newPasswordField,
                        'fa-eye': newPasswordField
                        }"
                        (click)="toggleNewPasswordType()"></i>
                    </span>
                  </div>
                </div>

              </div>
              <!-- Confirm Password -->
              <div class="form-group">
                <label for="confirmPassword"
                  [ngClass]="frmSignup.controls['confirmPassword'].dirty &&
                  frmSignup.controls['confirmPassword'].invalid
                  ? 'text-danger' : ''">Confirm
                  Password:</label>
                <div class="input-group">
                  <input [type]="confirmPasswordField ? 'text'
                    :
                    'password'" class="form-control"
                    [ngClass]="frmSignup.controls['confirmPassword'].dirty &&
                    frmSignup.controls['confirmPassword'].invalid
                    ? 'is-invalid': ''"
                    formControlName="confirmPassword"
                    placeholder="confirm password" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i
                        class="fa"
                        [ngClass]="{
                        'fa-eye-slash':
                        !confirmPasswordField,
                        'fa-eye': confirmPasswordField
                        }"
                        (click)="toggleConfirmPasswordType()"></i>
                    </span>
                  </div>
                </div>

                <div *ngIf="frmSignup.controls['confirmPassword'].dirty">
                  <label class="text-danger"
                    *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                    Password is Required!
                  </label>
                  <label class="text-danger"
                    *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                    Password do not match
                  </label>
                </div>

              </div>
              <!-- Change Password button -->
              <div class="form-group">
                <button [disabled]="frmSignup.invalid"
                  type="submit"
                  class="btn btn-primary btn-block
                  font-weight-bold">Change Password
                </button>
              </div>
            </div>
            <!-- space div -->
            <div class="col-1"></div>
            <!-- Instructions div -->
            <div class="col-5">
              <div class="card">
                <div class="card-header font-weight-bold
                  bg-white">
                  Your Password must have :
                </div>
                <div class="card-body validation_modal">
                  <label class="col"
                    [ngClass]="frmSignup.controls['newPassword'].hasError('required')
                    ||
                    frmSignup.controls['newPassword'].hasError('minlength')
                    ? 'text-danger' : 'text-success'">
                    <i class="material-icons">{{
                      frmSignup.controls['newPassword'].hasError('required')
                      ||
                      frmSignup.controls['newPassword'].hasError('minlength')
                      ? 'cancel' :
                      'check_circle' }}</i>
                    Must be at least 8 characters!
                  </label>
                  <label class="col"
                    [ngClass]="frmSignup.controls['newPassword'].hasError('required')
                    ||
                    frmSignup.controls['newPassword'].hasError('hasNumber')
                    ? 'text-danger' : 'text-success'">
                    <i class="material-icons">{{
                      frmSignup.controls['newPassword'].hasError('required')
                      ||
                      frmSignup.controls['newPassword'].hasError('hasNumber')
                      ? 'cancel' :
                      'check_circle' }}</i>
                    Must contain at least 1 number!
                  </label>
                  <label class="col"
                    [ngClass]="frmSignup.controls['newPassword'].hasError('required')
                    ||
                    frmSignup.controls['newPassword'].hasError('hasCapitalCase')
                    ? 'text-danger' : 'text-success'">
                    <i class="material-icons">{{
                      frmSignup.controls['newPassword'].hasError('required')
                      ||
                      frmSignup.controls['newPassword'].hasError('hasCapitalCase')
                      ? 'cancel' :
                      'check_circle' }}</i>
                    Must contain at least 1 in Capital Case!
                  </label>
                  <label class="col"
                    [ngClass]="frmSignup.controls['newPassword'].hasError('required')
                    ||
                    frmSignup.controls['newPassword'].hasError('hasSmallCase')
                    ? 'text-danger' : 'text-success'">
                    <i class="material-icons">{{
                      frmSignup.controls['newPassword'].hasError('required')
                      ||
                      frmSignup.controls['newPassword'].hasError('hasSmallCase')
                      ? 'cancel' :
                      'check_circle' }}</i>
                    Must contain at least 1 Letter in Small
                    Case!
                  </label>
                  <label class="col"
                    [ngClass]="frmSignup.controls['newPassword'].hasError('required')
                    ||
                    frmSignup.controls['newPassword'].hasError('hasSpecialCharacters')
                    ? 'text-danger' : 'text-success'">
                    <i class="material-icons">{{
                      frmSignup.controls['newPassword'].hasError('required')
                      ||
                      frmSignup.controls['newPassword'].hasError('hasSpecialCharacters')
                      ? 'cancel' :
                      'check_circle' }}</i>
                    Must contain at least 1 Special
                    Character!
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>